*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    color: rgb(18, 4, 4);
}
header{
    background-color: rgba(172, 64, 182, 0.729);
    height: 10vh;
    width: 100%;
}
nav li{
    list-style: none;
    color: rgb(16, 16, 16);
}
nav a{
    text-decoration: none;
}
nav{
    background-color: rgb(247, 18, 140);
}

.section{
    background-color: rgb(201, 201, 196);
    height: 5vh;
}
.article{
    background-color: rgb(239, 135, 206);
    height: 75vh;
}
footer{
    background-color: rgb(194, 12, 121);
    height: 10vh;
}
.box{
    display: flex;
    height: 80vh;
}
.boxlarge{
    width: 60%;
}
footer{
    display: flex;
    justify-content: center;
}